{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% translate "Sign in without password" %}
{% endblock head_title %}

{% block content %}

    {% element panel class="auth_panel__signin_code" %}

        {% slot title %}
            {% trans "Send me a sign-in code" %}
        {% endslot %}

        {% slot body %}

            {% element p %}
                {% blocktranslate %}Enter your email address to receive a special code for a password-free sign-in.{% endblocktranslate %}
            {% endelement %}
            {% url 'account_request_login_code' as login_url %}

            {% element form form=form method="post" action=login_url tags="entrance,login" %}

                {% slot body %}
                    {% csrf_token %}

                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}

                {% slot actions %}

                    {% element button type="submit" tags="prominent,login" class="auth_button__signin_code_panel" %}
                        {% translate "Request Code" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
            {% url 'account_login' as login_url %}

            {% element button href=login_url tags="link" class="auth_button_alt auth_button_alt__signin_code_panel block mx-auto" %}
                {% translate "Other sign-in options" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
