@use "../mixins" as *;
@use "../variables" as *;

.blog-index {
    width: 100%;
    padding: calc($spacer * 3) 0;
}

.blog-index__container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 calc($spacer * 1.5);

    @include media(lg) {
        padding: 0;
    }
}

.blog-index__intro {
    margin-bottom: $spacer * 2;
    font-family: $body;
    font-size: 1.125rem;
    line-height: 1.7;
    color: $gray-700;
}

// Blog post listing
.blog-index__list {
    display: flex;
    flex-direction: column;
    gap: $spacer;
}

.blog-index__empty {
    text-align: center;
    padding: $spacer * 3;
    font-family: $body;
    color: $gray-500;
}

.blog-item {
    display: block;
    text-decoration: none;
    color: inherit;
}

.blog-item__content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $spacer * 0.5;
    padding: $spacer * 1.5;
    padding-right: $spacer * 3;
    border: 1px solid $black;
    background: $white;
    box-shadow: 10px 5px $black;
    transition: all 0.25s ease-in-out;

    @include interact {
        transform: translate(-0.5rem, -0.25rem);
    }

    @include reduced-motion {
        transition: none;
    }
}

.blog-item__date {
    display: inline-flex;
    align-items: center;
    gap: $spacer * 0.25;
    font-family: $subheading;
    font-size: 0.8125rem;
    color: $gray-500;
}

.blog-item__title {
    font-family: $heading;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

.blog-item__excerpt {
    font-family: $body;
    font-size: 0.875rem;
    line-height: 1.6;
    color: $gray-600;
    @include line-clamp(2);
}

.blog-item__read-more {
    display: inline-flex;
    align-items: center;
    gap: $spacer * 0.25;
    margin-top: $spacer * 0.5;
    font-family: $subheading;
    font-size: 0.875rem;
    font-weight: 500;
    color: $accent;
    transition: color 0.2s ease;

    @include interact {
        color: $darkAccent;
    }

    @include reduced-motion {
        transition: none;
    }
}

.blog-post {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: calc($spacer * 2) calc($spacer * 1.5);

    @include media(lg) {
        padding: calc($spacer * 3) 0;
    }
}

.blog-post__back {
    display: inline-flex;
    align-items: center;
    gap: $spacer * 0.5;
    margin-bottom: $spacer * 1.5;
    font-family: $subheading;
    font-size: 0.875rem;
    color: $accent;
    text-decoration: none;
    transition: color 0.2s ease;

    @include interact {
        color: $darkAccent;
    }

    @include reduced-motion {
        transition: none;
    }
}

.blog-post__header {
    margin-bottom: $spacer * 2;
    padding-bottom: $spacer * 1.5;
    border-bottom: 1px solid $gray-200;
}

.blog-post__date {
    display: inline-flex;
    align-items: center;
    gap: $spacer * 0.25;
    margin-bottom: $spacer * 0.75;
    font-family: $subheading;
    font-size: 0.875rem;
    color: $gray-500;
}

.blog-post__title {
    font-family: $heading;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 calc($spacer * 0.75);

    @include media(md) {
        font-size: 2.5rem;
    }
}

.blog-post__intro {
    font-family: $body;
    font-size: 1.125rem;
    font-style: italic;
    color: $gray-600;
}

.blog-post__content {
    font-family: $body;
    font-size: 1rem;
    line-height: 1.8;

    h2,
    h3,
    h4 {
        font-family: $heading;
        margin-top: $spacer * 2;
        margin-bottom: $spacer;
    }

    p {
        margin-bottom: $spacer * 1.5;
    }

    ul,
    ol {
        margin-bottom: $spacer * 1.5;
        padding-left: $spacer * 1.5;
        list-style: disc;
    }

    a {
        color: $accent;
        text-decoration: underline;

        @include interact {
            color: $darkAccent;
        }
    }
}
