# Django project
media/
reports/
static/
*.sqlite3
fly.toml
.git/
.github/
.tox/
.venv/
.vscode/
.env
.env.development
.env.example
.flake8
.pre-commit-config.yaml
.stylelintrc.json
Makefile
render.yaml
.tox.ini
