DJANGO_ALLOWED_HOSTS=
DJANGO_SECRET_KEY=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEBUG=
WHEREBY_API_KEY=
STRIPE_API_PUBLISHABLE_KEY=
STRIPE_API_SECRET_KEY=
STRIPE_API_CLIENT_ID=
STRIPE_REDIRECT_URL=
# GetPronto API credentials
# Uncomment and fill in the following lines if you want to use GetPronto integration
# NB!: GetPronto API currently has an upstream bug, so ImageKit integration is used.
# Once the GetPronto API is fixed, you can switch back to it by uncommenting the lines
# below and filling in the credentials.
# GETPRONTO_API_KEY=
# GETPRONTO_API_URL=
# GETPRONTO_EMAIL=
# GETPRONTO_PASSWORD=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
