{% load i18n static compress wagtailcore_tags wagtailuserbar %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>

            {% block head_title %}
            {% endblock head_title %}

            {% block head_title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock head_title_suffix %}
        </title>

        {% block head_description %}
        {% endblock head_description %}
        <meta name="description" content="" />
        {# Favicon #}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'images/favicon.png' %}">
        {# Global stylesheets #}
        {% component_css_dependencies %}
        {% compress css %}
            {# Global stylesheets #}
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

            {% block extra_css %}
                {# Override this in templates to add extra stylesheets #}
            {% endblock extra_css %}
        {% endcompress %}
    </head>
    {# djlint:off #}
    <body class="{% block body_class %}{% endblock body_class %}">
    {# djlint:on #}
    {% wagtailuserbar %}

    {% block top_navigation_bar %}

        {% include "includes/header.html" %}
    {% endblock top_navigation_bar %}

    {% block body %}
        {% if messages %}
            <div class="bg-lightAccent">
                <div class="w-full container mx-auto py-9">
                    <strong class="visually-hidden">{% trans "Messages:" %}</strong>
                    <ul>
                        {% for message in messages %}
                            <li class="base_message w-full bg-lightAccent">
                                {% if message.extra_tags %}
                                    <a href="{% url message.extra_tags %}" class="w-fit link_alt">{{ message }}</a>
                                {% else %}
                                    <span>{{ message }}</span>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="w-full container mx-auto py-9">

            {% block content %}
            {% endblock content %}
        </div>
    {% endblock body %}

    {% block extra_body %}
    {% endblock extra_body %}
    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/core.js' %}"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock extra_js %}
</body>
</html>
