@use 'sass:list';
@use 'sass:math';
@use "variables" as *;
@use "mixins" as *;

/* Colors */
@each $key, $value in $colors {
  .bg-#{$key} {
    background: $value;
  }

  .text-#{$key} {
    color: $value;
  }
}

/* Font families */
@each $key, $value in $fonts {
	.font-#{$key} {
    font-family: $value;
  }
}

/* Spacing */
$spacers: ();
@for $i from 0 through 96 {
	$spacers: list.append($spacers, $i * math.div($spacer, 4));
	$current-spacer: list.nth($spacers, $i + 1);

	.inset-#{$i} {
		inset: $current-spacer;
	}

	.inset-x-#{$i} {
		inset-inline: $current-spacer;
	}

	.inset-y-#{$i} {
		inset-block: $current-spacer;
	}

	.top-#{$i} {
		top: $current-spacer;
	}

	.right-#{$i} {
		right: $current-spacer;
	}

	.bottom-#{$i} {
		bottom: $current-spacer;
	}

	.left-#{$i} {
		right: $current-spacer;
	}

	.w-#{$i} {
		width: $current-spacer;
	}
	.h-#{$i} {
		height: $current-spacer;
	}
	.gap-#{$i} {
		gap: $current-spacer;
	}

	.mt-#{$i} {
		margin-top: $current-spacer;
	}

	.mr-#{$i} {
		margin-right: $current-spacer;
	}

	.mb-#{$i} {
		margin-bottom: $current-spacer;
	}

	.ml-#{$i} {
		margin-left: $current-spacer;
	}

	.mx-#{$i} {
		margin-inline: $current-spacer;
	}

	.my-#{$i} {
		margin-block: $current-spacer;
	}

	.m-#{$i} {
		margin: $current-spacer;
	}

	.pt-#{$i} {
		padding-top: $current-spacer;
	}

	.pr-#{$i} {
		padding-right: $current-spacer;
	}

	.pb-#{$i} {
		padding-bottom: $current-spacer;
	}

	.pl-#{$i} {
		padding-left: $current-spacer;
	}

	.px-#{$i} {
		padding-inline: $current-spacer;
	}

	.py-#{$i} {
		padding-block: $current-spacer;
	}

	.p-#{$i} {
		padding: $current-spacer;
	}
}

.mt-auto {
	margin-top: auto;
}

.mr-auto {
	margin-right: auto;
}

.mb-auto {
	margin-bottom: auto;
}

.ml-auto {
	margin-left: auto;
}

.mx-auto {
	margin-inline: auto;
}

.my-auto {
	margin-block: auto;
}


/* Display */
.hidden {
	display: hidden;
}

.block {
	display: block;
}

.flex {
    display: flex;
}

.inline-block {
	display: inline-block;
}

.inline-flex {
	display: inline-flex;
}

/* Flexbox */

.flex-col {
	flex-flow: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.width-full {
    width: 100%;
}

.width-auto {
	width: auto;
}

.width-fit {
	width: fit-content;
}

.width-min {
	width: min-content;
}

.width-max {
	width: max-content;
}

.height-full {
    height: 100%;
}

.height-auto {
	height: auto;
}

.height-fit {
	height: fit-content;
}

.height-min {
	height: min-content;
}

.height-max {
	height: max-content;
}


.container {
    @include media(xl) {
        max-width: 75rem;
    }
}

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0 !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

/*
	Prevent visually hidden caption from breaking table's collapsing borders
	@author Louis-Maxime Piton
	@see https://github.com/twbs/bootstrap/pull/37533
*/
.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
	position: absolute !important;
}

/*
	Prevent overflowing children from being focusable.
	@author Django Janny
	@see https://github.com/twbs/bootstrap/pull/41286
*/
.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
	overflow: hidden !important;
}

/* Text */
.text-center {
	text-align: center;
}

.text-darken {
	@include interact {
        filter: brightness(85%);
    }
}

.text-brighten {
	@include interact {
        filter: brightness(115%);
    }
}

.link {
	color: $safeLightAccent;
	transition: all 0.25s ease-in-out;
	@include reduced-motion {
        transition: none;
    }
	@include interact {
        color: $lightAccent;
    }
}

.base_message {
	& > span {
		display: block;
		padding-block: list.nth($spacers, 9);;
		margin-inline: auto;
		@include media(xl) {
			max-width: 75rem;
		}
	}

	.wagtailadmin_messages {
		display: none;
	}
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
