@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:string";
@use "variables" as *;
@use "mixins" as *;

/* Cursor */
@each $c in $cursor {
  .cursor-#{$c} {
    cursor: $c;
  }
}

/* Display */
@each $d in $display {
  .#{$d} {
    display: $d;
  }
}

.hidden {
  display: none;
}

/* Flexbox */
.flex-grow {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

@each $key, $value in $flex-flow {
  .flex-#{$key} {
    flex-flow: $value;
  }
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

/* Spacing */
@each $sKey, $sValue in $spacers {
  @each $name, $property in $spacing {
    .#{$name}-#{$sKey} {
      #{$property}: $sValue;
    }

    .-#{$name}-#{$sKey} {
      #{$property}: -#{$sValue};
    }
  }
}

/* Grid */
@each $key, $value in $grid-template {
  .grid-cols-#{$key} {
    grid-template-columns: $value;
  }

  .grid-rows-#{$key} {
    grid-template-rows: $value;
  }
}

@each $name, $property in $spacing {
  @if (string.index($property, "width") == 1 or string.index($property, "height") == 1) {
    .#{$name}-px {
      #{$property}: 1px;
    }

    .#{$name}-fit {
      #{$property}: fit-content;
    }

    .#{$name}-min {
      #{$property}: min-content;
    }

    .#{$name}-max {
      #{$property}: max-content;
    }

    .min-#{$name}-full {
      min-#{$property}: 100%;
    }

    .#{$name}-full {
      #{$property}: 100%;
    }

    .max-#{$name}-full {
      max-#{$property}: 100%;
    }

    .min-#{$name}-screen {
      min-#{$property}: if($property == "width", 100vw, 100vh);
    }

    .#{$name}-screen {
      #{$property}: if($property == "width", 100vw, 100vh);
    }

    .max-#{$name}-screen {
      max-#{$property}: if($property == "width", 100vw, 100vh);
    }


    .#{$name}-auto {
      #{$property}: auto;
    }

    @for $i from 1 through 11 {
      .min-#{$name}-#{$i}\/12 {
        min-#{$property}: math.percentage(math.div($i, 12));
      }

      .#{$name}-#{$i}\/12 {
        #{$property}: math.percentage(math.div($i, 12));
      }

      @for $j from 2 through 11 {
        $denom: 12 - $j;

        @if $denom > $i and ($denom <= 5 or ($denom > 5 and $denom % 2 == 0)) {
          .min-#{$name}-#{$i}\/#{$denom} {
            min-#{$property}: math.percentage(math.div($i, $denom));
          }

          .#{$name}-#{$i}\/#{$denom} {
            #{$property}: math.percentage(math.div($i, $denom));
          }

          .max-#{$name}-#{$i}\/#{$denom} {
            max-#{$property}: math.percentage(math.div($i, $denom));
          }
        }
      }
    }
  }

  @if string.index($property, "margin") == 1 {
    .#{$name}-auto {
      #{$property}: auto;
    }
  }
}

/* Colors */
@each $key, $value in $colors {
  .bg-#{$key} {
    background: $value;
  }

  .text-#{$key} {
    color: $value;
  }

  .border-#{$key} {
    border: 1px solid $value;
  }

  .border-t-#{$key} {
    border-top: 1px solid $value;
  }

  .border-b-#{$key} {
    border-bottom: 1px solid $value;
  }
}

/* Font families */
@each $key, $value in $fonts {
  .font-#{$key} {
    font-family: $value;
  }
}

/* Font weight */
@each $key, $value in $font-weights {
  .font-#{$key} {
    font-weight: $value;
  }
}

/* Font sizes */
@each $key, $props in $text-sizes {
  .text-#{$key} {
    font-size: map.get($props, font-size);
    line-height: map.get($props, line-height);
  }
}

/* Tracking */
@each $key, $value in $tracking-sizes {
  .tracking-#{$key} {
    letter-spacing: $value;
  }
}

.overflow {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.container {
  @include media(xl) {
    max-width: $spacer * 75;
  }
}

.container-sm {
  @include media(xl) {
    max-width: $spacer * 36;
  }
}

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
  border: 0 !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

/*
	Prevent visually hidden caption from breaking table's collapsing borders
	@author Louis-Maxime Piton
	@see https://github.com/twbs/bootstrap/pull/37533
*/
.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
  position: absolute !important;
}

/*
	Prevent overflowing children from being focusable.
	@author Django Janny
	@see https://github.com/twbs/bootstrap/pull/41286
*/
.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
  overflow: hidden !important;
}

/* Text */
.text-center {
  text-align: center;
}

.text-darken {
  @include interact {
    filter: brightness(85%);
  }
}

.text-brighten {
  @include interact {
    filter: brightness(115%);
  }
}

.link {
  color: $safeLightAccent;
  transition: all 0.25s ease-in-out;
  @include reduced-motion {
    transition: none;
  }
  @include interact {
    color: $lightAccent;
  }
}

.link_alt {
  color: $black;
  transition: all 0.25s ease-in-out;
  @include reduced-motion {
    transition: none;
  }
  @include interact {
    opacity: 0.6;
  }
}

.base_message {
  & > * {
    display: block;
    padding: map.get($spacers, 4) map.get($spacers, 8);
    margin-inline: auto;
    width: 100%;
    max-width: $spacer * 80;
  }

  .wagtailadmin_messages {
    display: none;
  }
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.icon {
  aspect-ratio: 1;
}

.select-none {
  user-select: none;
}

.rounded {
  border-radius: 0.375rem;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.5rem;
}

.rounded-lg {
  border-radius: 0.75rem;
}

.rounded-xl {
  border-radius: 1rem;
}

.rounded-2xl {
  border-radius: 1.5rem;
}

.rounded-3xl {
  border-radius: 2rem;
}

.opacity-0 {
  opacity: 0;
}

@for $i from 1 through 10 {
  .opacity-#{$i} {
    opacity: math.div($i, 10);
  }

  .opacity-#{$i}0 {
    opacity: math.div($i * 10, 100);
  }
}

.back-link {
    display: inline-flex;
    align-items: center;
    gap: $spacer * 0.5;
    margin-bottom: $spacer * 1.5;
    color: $darkAccent;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &, & * {
      font-family: $body;
    }

    @include interact {
        opacity: 0.7;
    }
}


/* Responsive */
@each $key, $value in $breakpoints {
  @include media($key) {
    /* Cursor */
    @each $c in $cursor {
      .#{$key}\:cursor-#{$c} {
        cursor: $c;
      }
    }

    /* Display */
    @each $d in $display {
      .#{$key}\:#{$d} {
        display: $d;
      }
    }

    .#{$key}\:hidden {
      display: none;
    }

    /* Flexbox */
    @each $fkey, $fvalue in $flex-flow {
      .#{$key}\:flex-#{$fkey} {
        flex-flow: $fvalue;
      }
    }

    .#{$key}\:flex-grow {
      flex-grow: 1;
    }

    .#{$key}\:flex-grow-0 {
      flex-grow: 0;
    }

    .#{$key}\:items-center {
      align-items: center;
    }

    .#{$key}\:justify-start {
      justify-content: start;
    }

    .#{$key}\:justify-space-between {
      justify-content: space-between;
    }

    /* Spacing */
    @each $sKey, $sValue in $spacers {
      @each $name, $property in $spacing {
        .#{$key}\:#{$name}-#{$sKey} {
          #{$property}: $sValue;
        }

        .#{$key}\:-#{$name}-#{$sKey} {
          #{$property}: -$sValue;
        }
      }
    }

    /* Grid */
    @each $gkey, $gvalue in $grid-template {
      .#{$key}\:grid-cols-#{$gkey} {
        grid-template-columns: $gvalue;
      }

      .#{$key}\:grid-rows-#{$gkey} {
        grid-template-rows: $gvalue;
      }
    }

    @each $name, $property in $spacing {
      @if (string.index($property, "width") == 1 or string.index($property, "height") == 1) {
        .#{$key}\:#{$name}-px {
          #{$property}: 1px;
        }

        .#{$key}\:#{$name}-fit {
          #{$property}: fit-content;
        }

        .#{$key}\:#{$name}-min {
          #{$property}: min-content;
        }

        .#{$key}\:#{$name}-max {
          #{$property}: max-content;
        }

        .#{$key}\:min-#{$name}-full {
          min-#{$property}: 100%;
        }

        .#{$key}\:#{$name}-full {
          #{$property}: 100%;
        }

        .#{$key}\:max-#{$name}-full {
          max-#{$property}: 100%;
        }

        .#{$key}\:min-#{$name}-screen {
          min-#{$property}: if($property == "width", 100vw, 100vh);
        }

        .#{$key}\:#{$name}-screen {
          #{$property}: if($property == "width", 100vw, 100vh);
        }

        .#{$key}\:max-#{$name}-screen {
          max-#{$property}: if($property == "width", 100vw, 100vh);
        }

        .#{$key}\:#{$name}-auto {
          #{$property}: auto;
        }

        @for $i from 1 through 11 {
          .#{$key}\:min-#{$name}-#{$i}\/12 {
            min-#{$property}: math.percentage(math.div($i, 12));
          }

          .#{$key}\:#{$name}-#{$i}\/12 {
            #{$property}: math.percentage(math.div($i, 12));
          }

          @for $j from 2 through 11 {
            $denom: 12 - $j;

            @if $denom > $i and ($denom <= 5 or ($denom > 5 and $denom % 2 == 0)) {
              .#{$key}\:min-#{$name}-#{$i}\/#{$denom} {
                min-#{$property}: math.percentage(math.div($i, $denom));
              }

              .#{$key}\:#{$name}-#{$i}\/#{$denom} {
                #{$property}: math.percentage(math.div($i, $denom));
              }

              .#{$key}\:max-#{$name}-#{$i}\/#{$denom} {
                max-#{$property}: math.percentage(math.div($i, $denom));
              }
            }
          }
        }
      }

      @if string.index($property, "margin") == 1 {
        .#{$key}\:#{$name}-auto {
          #{$property}: auto;
        }
      }
    }

    /* Colors */
    @each $ckey, $cvalue in $colors {
      .#{$key}\:bg-#{$ckey} {
        background: $cvalue;
      }

      .#{$key}\:text-#{$ckey} {
        color: $cvalue;
      }

      .#{$key}\:border-#{$ckey} {
        border: 1px solid $cvalue;
      }

      .#{$key}\:border-t-#{$ckey} {
        border-top: 1px solid $cvalue;
      }

      .#{$key}\:border-b-#{$ckey} {
        border-bottom: 1px solid $cvalue;
      }
    }

    /* Font sizes */
    @each $tkey, $props in $text-sizes {
      .#{$key}\:text-#{$tkey} {
        font-size: map.get($props, font-size);
        line-height: map.get($props, line-height);
      }
    }
  }
}
