@use 'sass:list';
@use 'sass:math';
@use "sass:string";
@use "variables" as *;
@use "mixins" as *;

/* Colors */
@each $key, $value in $colors {
  .bg-#{$key} {
    background: $value;
  }

  .text-#{$key} {
    color: $value;
  }

  .border-#{$key} {
    border-color: $value;
  }
}

/* Responsive colors */
@each $ckey, $cvalue in $colors {
	@each $key, $value in $breakpoints {
		.#{$key}\:bg-#{$ckey} {
			@include media($key) {
				background: $cvalue;
			}
		}

		.#{$key}\:text-#{$ckey} {
			@include media($key) {
				color: $cvalue;
			}
		}

		.#{$key}\:border-#{$ckey} {
			@include media($key) {
				border-color: $cvalue;
			}
		}
	}
}


/* Font families */
@each $key, $value in $fonts {
	.font-#{$key} {
    font-family: $value;
  }
}

/* Font weight */
@each $key, $value in $font-weights {
	.font-#{$key} {
		font-weight: $value;
	}
}

/* Spacing */
$spacers: ();
@for $i from 0 through 96 {
	$spacers: list.append($spacers, $i * math.div($spacer, 4));
	$current-spacer: list.nth($spacers, $i + 1);

	@each $name, $property in $spacing {
		.#{$name}-#{$i} {
			#{$property}: $current-spacer;
		}

		@if string.index($property, "margin") == 1 {
			.#{$name}-auto {
				#{$property}: auto;
			}
		}
	}
}

@for $i from 0 through 96 {
	/* Responsive spacing */
	$spacers: list.append($spacers, $i * math.div($spacer, 4));
	$current-spacer: list.nth($spacers, $i + 1);

	@each $name, $property in $spacing {
		@each $key, $value in $breakpoints {
			.#{$key}\:#{$name}-#{$i} {
				@include media($key) {
					#{$property}: $current-spacer;
				}
			}

			@if string.index($property, "margin") == 1 {
				.#{$name}-auto {
					#{$property}: auto;
				}
			}
		}
	}
}

/* Display */
.hidden {
	display: hidden;
}

@each $d in $display {
  .#{$d} {
    display: $d;
  }
}

/* Responsive display */
@each $key, $value in $breakpoints {
	.#{$key}\:hidden {
		@include media($key) {
			display: hidden;
		}
	}

	@each $d in $display {
		.#{$key}\:#{$d} {
			@include media($key) {
				display: $d;
			}
		}
	}
}

/* Flexbox */
@each $key, $value in $flex-flow {
  .flex-#{$key} {
    flex-flow: $value;
  }
}

/* Responsive flexbox */
@each $fkey, $fvalue in $flex-flow {
 	@each $key, $value in $breakpoints {
		.#{$key}\:flex-#{$fkey} {
			@include media($key) {
				flex-flow: $fvalue;
			}
		}
	}
}


/* Cursor */
@each $c in $cursor {
  .cursor-#{$c} {
    cursor: $c;
  }
}

/* Responsive cursor */
@each $key, $value in $breakpoints {
	@each $c in $cursor  {
		.#{$key}\:cursor-#{$c} {
			@include media($key) {
				cursor: $c;
			}
		}
	}
}


.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.width-full {
    width: 100%;
}

.width-auto {
	width: auto;
}

.width-fit {
	width: fit-content;
}

.width-min {
	width: min-content;
}

.width-max {
	width: max-content;
}

.height-full {
    height: 100%;
}

.height-auto {
	height: auto;
}

.height-fit {
	height: fit-content;
}

.height-min {
	height: min-content;
}

.height-max {
	height: max-content;
}

.overflow-hidden {
	overflow: hidden;
}

.container {
    @include media(xl) {
        max-width: 75rem;
    }
}

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0 !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

/*
	Prevent visually hidden caption from breaking table's collapsing borders
	@author Louis-Maxime Piton
	@see https://github.com/twbs/bootstrap/pull/37533
*/
.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
	position: absolute !important;
}

/*
	Prevent overflowing children from being focusable.
	@author Django Janny
	@see https://github.com/twbs/bootstrap/pull/41286
*/
.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
	overflow: hidden !important;
}

/* Text */
.text-center {
	text-align: center;
}

.text-darken {
	@include interact {
        filter: brightness(85%);
    }
}

.text-brighten {
	@include interact {
        filter: brightness(115%);
    }
}

.link {
	color: $safeLightAccent;
	transition: all 0.25s ease-in-out;
	@include reduced-motion {
        transition: none;
    }
	@include interact {
        color: $lightAccent;
    }
}

.base_message {
	& > span {
		display: block;
		padding-block: list.nth($spacers, 9);;
		margin-inline: auto;
		@include media(xl) {
			max-width: 75rem;
		}
	}

	.wagtailadmin_messages {
		display: none;
	}
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
