@import url(https://fonts.bunny.net/css?family=abeezee:400);

@font-face {
    font-family: 'Open Dyslexic';
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Regular.eot');
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Regular.woff2') format('woff2'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Regular.woff') format('woff'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.eot');
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff2') format('woff2'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.woff') format('woff'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold.eot');
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold.woff2') format('woff2'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold.woff') format('woff'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Dyslexic';
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Italic.eot');
    src: url('/static/fonts/OpenDyslexic/OpenDyslexic-Italic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Italic.woff2') format('woff2'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Italic.woff') format('woff'),
        url('/static/fonts/OpenDyslexic/OpenDyslexic-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Handjet';
    src: url('/static/fonts/Handjet/Handjet-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto SemiCondensed';
    src: url('/static/fonts/Roboto/Roboto_SemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('/static/fonts/Roboto/Roboto_Condensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
