{% load wagtailcore_tags content_blocks %}

{% block_visible value as is_visible %}
{% if is_visible %}
    {% block_style value as block_styles %}
    {% block_size_classes value as block_sizes %}
    <article class="card card-border bg-base-100 shadow-sm {{ block_sizes }} overflow-hidden"
             {% if block_styles %}style="{{ block_styles }}"{% endif %}>
        <div class="card-body gap-4 sm:gap-6">
            {% for child in value.content %}
                {% include_block child %}
            {% endfor %}
        </div>
    </article>
{% endif %}
