{% load i18n static allauth account wagtailcore_tags navigation_tags menu_tags %}
<header class="base__header flex items-center w-full px-6 bg-black text-safeLightAccent lg:px-19">
    {% get_site_root as site_root %}
    {% url 'account_login' as login_url %}
    {% url 'account_logout' as logout_url %}
    <nav class="base__header__nav flex mx-auto w-full container">
        <p class="base__header__nav-wrapper flex justify-space-between items-center cursor-pointer mr-auto">
            <a class="base__header__nav-home inline-flex items-center"
               href="{% pageurl site_root %}">
                <img src="{% static 'images/favicon.png' %}"
                     width="50"
                     height="50"
                     alt=""
                     aria-hidden="true">
                <span>Sessions</span>
            </a>
            <ul class="base__header__nav-list flex items-center gap-9">
                {% main_menu %}
            </ul>
            {#  When site registration is available #}
            {% if not SOCIALACCOUNT_ONLY and not user.is_authenticated %}

                {% element button type="submit" tags="prominent,login" class="auth_button__navbar block text-center xl:ml-9" href=login_url %}
                    {% trans "Sign In" %}
                {% endelement %}
            {% endif %}
            {% if user.is_authenticated %}

                {% element button type="submit" tags="prominent,logout" class="auth_button__navbar block text-center xl:ml-9" href=logout_url %}
                    {% trans "Log Out" %}
                {% endelement %}
            {% endif %}
        </p>
    </nav>
</header>
