{% load i18n static allauth account wagtailcore_tags navigation_tags %}
<header class="base__header flex items-center width-full px-m bg-black text-safeLightAccent">
    {% get_site_root as site_root %}
    {% url 'account_login' as login_url %}
    <nav class="base__header__nav flex mx-auto width-full container">
        <p class="base__header__nav-wrapper flex justify-space-between items-center width-full">
            <a class="base__header__nav-home inline-flex items-center"
               href="{% pageurl site_root %}">
                <img src="{% static 'images/favicon.png' %}"
                     width="50"
                     height="50"
                     alt=""
                     aria-hidden="true">
                <span>Sessions</span>
            </a>
            <ul class="base__header__nav-list flex items-center gap-s">
                {% for menuitem in site_root.get_children.live.in_menu %}
                    <li class="base__header__nav-item">
                        <a class="base__header__nav-link link inline-block width-full height-full"
                           href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {#  When site registration is available #}
            {% if not SOCIALACCOUNT_ONLY %}

                {% element button type="submit" tags="prominent,login" class="auth_button__navbar block text-center" href=login_url %}
                    {% trans "Sign In" %}
                {% endelement %}
            {% endif %}
        </p>
    </nav>
</header>
