:root {
    --white-hsl: hsl(0,0%,100%);
    --black-hsl: hsl(0,100%, 0.78%);
    --safeLightAccent-hsl: hsl(342.63,80.85%,81.57%);
    --safeDarkAccent-hsl: hsl(0,0%,0%);
    --safeInverseAccent-hsl: hsl(0,0%,0%);
    --safeInverseLightAccent-hsl: hsl(0,0%,0%);
    --safeInverseDarkAccent-hsl: hsl(0,0%,100%);
    --accent-hsl: hsl(342.63,80.85%,81.57%);
    --lightAccent-hsl: hsl(343.29,95.89%,71.37%);
    --darkAccent-hsl: hsl(342.11,40.43%,27.65%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Dyslexic', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--white-hsl);
  color: var(--black-hsl);
}

h1 {
    font-family: 'Handjet';
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

.bg-black {
    background: var(--black-hsl);
}

.bg-white {
    background: var(--white-hsl);
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-space-between {
    justify-content: space-between;
}

.width-full {
    width: 100%;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus, :focus-within) {
	border: 0 !important;
	clip-path: inset(50%) !important; /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	width: 1px !important;
	white-space: nowrap !important; /* 3 */
}

/*
	Prevent visually hidden caption from breaking table's collapsing borders
	@author Louis-Maxime Piton
	@see https://github.com/twbs/bootstrap/pull/37533
*/
.visually-hidden:not(caption),
.visually-hidden-focusable:not(caption):not(:focus, :focus-within) {
	position: absolute !important;
}


/*
	Prevent overflowing children from being focusable.
	@author Django Janny
	@see https://github.com/twbs/bootstrap/pull/41286
*/
.visually-hidden *,
.visually-hidden-focusable:not(:focus, :focus-within) * {
	overflow: hidden !important;
}
