{% extends "base.html" %}
{% load i18n %}

{% block css %}{{ block.super }}{% endblock css %}
{% block title %}
  {% block head_title %}
    {% trans "Sign In" %}
  {% endblock head_title %}
{% endblock title %}
{% block body %}
  <div class="flex justify-center min-h-screen py-8">
    <div class="w-full max-w-md p-8">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} mb-4 shadow-lg">
            <span>{{ message }}</span>
          </div>
        {% endfor %}
      {% endif %}
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
      {% block extra_body %}
      {% endblock extra_body %}
    </div>
  </div>
{% endblock body %}
