@use "../../variables" as *;
@use "../../mixins" as *;

.auth_button {
    cursor: pointer;
    width: fit-content;
    padding: 1rem;
    border: 0;
    border-radius: 5px;
    background: $safeLightAccent;
    color: $black;
    font-family: $subheading;
    font-size: 140%;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    @include interact {
        background: $lightAccent;
    }
    @include reduced-motion {
        transition: none;
    }
}

.auth_button__signin_panel,
.auth_button__signup_panel,
.auth_button__signin_code_panel {
    width: 100%;
    margin-top: 1rem;
}

.auth_button_alt {
    border: 1px solid transparent;
    background: transparent;
    color: $safeLightAccent;

    @include interact {
        border: 1px solid $lightAccent;
        background: transparent;
        color: $lightAccent;
    }
}

.auth_button_alt__signin_code_panel {
    margin-top: 1rem;
}

.auth_button__navbar {
    min-width: 8rem;
    font-size: 100%;
}
