@use "../../variables" as *;
@use "../../mixins" as *;

.auth_panel {
    border-radius: 10px;
    max-width: 38.5rem;

    .auth_form {
        display: flex;
        flex-flow: column;
        justify-content: start;
        width: 100%;
        text-align: left;

        p {
            input[type=text],
            input[type=email],
            input[type=password] {
                border: 1px solid $safeLightAccent;
                border-top: 0;
                border-right: 0;
                background: transparent;
                color: $white;
                width: 100%;
                padding-block: 1rem;
                padding-left: 1rem;

                &::placeholder {
                    color: $white;
                    opacity: 0.8;
                }
            }

            input[type="checkbox"] {
                @include checkbox($white);

                &:checked {
                    @include cross-lines($lightAccent);
                }

                @include interact {
                    @include cross-lines($lightAccent);
                }

            }

            label {
                margin-bottom: 1rem;
                margin-right: 1rem;

                & + input[type=text],
                & + input[type=password] {
                    margin-top: 0.25rem;
                    margin-bottom: 1rem;
                }
            }

            input, label {
                font-family: $body;
            }

            input[type=password] + .helptext {
                a {
                    font-size: 110%;
                    font-weight: 200;
                    @include interact {
                        color: $lightAccent;
                    }
                }
            }

            select {
                background: transparent;
                color: $lightAccent;
                font-size: 140%;
                font-weight: 300;

                & + select {
                    margin-left: 1rem;
                }
            }
        }

        ul {
            &.errorlist {
                li {
                   color: $lightAccent;
                }
            }

            li {
                font-size: 140%;
                font-weight: 300;
            }
        }


        p:has(> input[type="checkbox"]) {
            display: flex;
            align-items: flex-start;
            gap: 1rem;

            label {
                flex: 1 1 auto;
            }

            input[type="checkbox"] {
                flex: 0 0 auto;
                align-self: anchor-center;
                margin-top: -1rem;
            }

            a {
                font-family: $body;
                @include interact {
                    color: $lightAccent;
                }
            }
        }
    }

    p + p, .auth_form, .auth_form + p {
        margin-top: 2rem;
    }
}
