{% load static i18n django_htmx compress tailwind_cli design wagtailuserbar %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-theme="neuromancers">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        NEUROMANCERS Network
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="NEUROMANCERS offers a network for users to offer and request online support" />
    <meta name="author" content="NEUROMANCERS" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Third-party CSS libraries go here -->
      {% tailwind_css %}
      {% include "includes/design_vars.html" %}
      {% include "includes/daisyui_theme.html" %}
      {% include "includes/render_background_css.html" %}
      <!-- This file stores project-specific CSS -->
      {% compress css %}
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      {% endcompress %}
    {% endblock css %}
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      {% compress js %}
        <script defer src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
    {% htmx_script %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}"
        hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% block body %}
      {% wagtailuserbar %}
      {% include "includes/header.html" %}
      {% include "includes/messages.html" %}
      <div>
        {% block main %}
          {% block content %}
          {% endblock content %}
        {% endblock main %}
      </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
