@use "../variables" as *;
@use "../mixins" as *;

.create_session__field_group {
    border-top: 1px solid $black;
    &:last-of-type {
        border-bottom: 1px solid $black;
    }
}

.create_session__field_item,
.manage_availability__form {
    input, label, legend {
        font-family: $body;
    }

    label, legend {
        order: 0;
    }

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=number],
    textarea {
        order: 2;
        border: 1px solid $black;
        border-top: 0;
        border-right: 0;
        background: transparent;
        color: $black;
        width: 100%;
        padding-block: $spacer;
        padding-left: $spacer;

        &::placeholder {
            color: $black;
            opacity: 0.8;
        }
    }

    fieldset {
        border: none;
    }

    fieldset.typed_select_multiple {
        order: 2;
        width: 100%;
        .typed_select_multiple__options {
            max-height: $spacer * 7;
            padding-inline: $spacer;
            background: $black;
            color: $white;

            .typed_select_multiple__options_group {
                padding-block: $spacer;
            }

            &, ul, li, .typed_select_multiple__options_group, button {
                width: 100%;
            }

            li {
                cursor: pointer;
            }

            button {
                cursor: pointer;
                height: 100%;
                border: none;
                background: transparent;
                color: inherit;
                font-size: 150%;
                @include interact {
                    background: $lightAccent;
                }
            }
        }

        .typed_select_multiple__selected {
            display: flex;
            flex-wrap: wrap;
            padding-block: $spacer;
            gap: $spacer * 0.5;
        }

        .typed_select_multiple__selected_button {
            cursor: pointer;
            position: relative;
            height: 100%;
            padding: $spacer;
            border: 1px solid $black;
            border-radius: 10px;
            background: $black;
            color: $white;
            font-size: 200%;

            &:before {
                content: 'x';
                position: absolute;
                top: 1px;
                left: 5px;
                font-size: 33%;
            }

            @include interact {
                background: $darkAccent;
            }
        }
    }

    fieldset.grouped_checkbox_select {
        display: flex;
        flex-direction: column;
        gap: $spacer * 2;
        order: 2;
        width: 100%;
        margin-top: $spacer;
    }

    .create_session__field_item_help_text {
        order: 1;
    }

    input[type=number] {
        width: fit-content;
    }

    input[type="checkbox"] {
        @include checkbox;

        &:checked {
           @include cross-lines;
        }

        @include interact {
            @include cross-lines;
        }
    }

    select {
        order: 2;
        border: 1px solid $black;
        border-top: 0;
        border-right: 0;
        width: 100%;
        padding-block: $spacer;
        padding-left: $spacer;
        background: transparent;
        color: $black;
        font-size: 140%;
        font-weight: 300;

        & + select {
            margin-left: $spacer;
        }
    }
}

.create_session__field_item_solo {
    margin-top: 0;
}

.create_session__field_item_terms label {
    color: $accent;
}

.create_session__field_item_terms input[type="checkbox"] {
    border-color: $accent;
    margin-left: 0;

    &:checked {
        @include cross-lines($accent);
    }

    @include interact {
        @include cross-lines($accent);
    }
}
