@use "sass:list";
@use "sass:map";
@use 'sass:meta';
@use "sass:string";

.section-divider-svg-clip {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.section-divider-stroke {
    stroke: black;
    stroke-width: 6px;
    stroke-dasharray: 15px calc(6px + 15px);
    stroke-linecap: round;
    fill: transparent;
}

.border-t-zigzag {
  mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/76px 101% repeat-x;
  -webkit-mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/76px 101% repeat-x;
}

.border-b-zigzag {
  mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/76px 101% repeat-x;
  -webkit-mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/76px 101% repeat-x;
}

.border-t-zigzag.border-b-zigzag {
  mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/76px 51% repeat-x, conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/76px 51% repeat-x;
  -webkit-mask: conic-gradient(from 135deg at top,#0000,#000 1deg 89deg,#0000 90deg) top/76px 51% repeat-x, conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) bottom/76px 51% repeat-x;
}
