.marquee {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.marquee__content {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
