{% load i18n static wagtailcore_tags wagtailuserbar compress %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>

            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock title %}

            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock title_suffix %}
        </title>
        {# djlint:off #}
        <meta name="description" content=" {% block description %}{% if page.search_description %}{{ page.search_description }}{% endif %}{% endblock description %}" />
        {# djlint:on #}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
        {# Favicon #}
        <link rel="shortcut icon"
              type="image/png"
              href="{% static 'images/favicon.png' %}">
        {% component_css_dependencies %}
        {% compress css %}
            {# Global stylesheets #}
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

            {% block extra_css %}
                {# Override this in templates to add extra stylesheets #}
            {% endblock extra_css %}
        {% endcompress %}
    </head>
    {# djlint:off #}
    <body class="{% block body_class %}{% endblock body_class %}">
    {# djlint:on #}
    {% wagtailuserbar %}

    {% block top_navigation_bar %}

        {% include "includes/header.html" %}
    {% endblock top_navigation_bar %}
    {% if messages and messages|length >= 1 %}
        <section class="w-full">
            <h2 class="visually-hidden">{% trans "Messages:" %}</h2>
            <ul class="w-full">
                {% for message in messages %}
                    <li class="base_message w-full bg-lightAccent">
                        {% if message.extra_tags %}
                            <a href="{% url message.extra_tags %}" class="w-fit link_alt">{{ message }}</a>
                        {% else %}
                            <span>{{ message }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% block content %}
    {% endblock content %}

    {% include "includes/sprite.svg" %}
    {% component_js_dependencies %}
    {% compress js %}
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/accordion.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/hero.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/request_calendar.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock extra_js %}
    {% endcompress %}
</body>
</html>
