<section class="faq-block py-12">
    <div class="container mx-auto px-6 lg:px-24 max-w-xl">
        {% if self.heading %}
            <h2 class="font-heading text-3xl mb-12 text-center lg:text-5xl">{{ self.heading }}</h2>
        {% endif %}
        <div class="space-y-4">
            {% for item in self.items %}
                {% with accordion_heading=item.value.question accordion_name=item.value.question|urlencode accordion_classes="accordion__prose" %}
                    {% accordion %}
                        <div class="prose prose-sm max-w-none">{{ item.value.answer|safe }}</div>
                    {% endaccordion %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>
</section>
