<section class="feature-grid-block py-12 {% if self.background_color %}bg-{{ self.background_color }}{% endif %}">

    {% include "includes/block_border.html" with border_style=self.top_border.style border_color=self.top_border.color border_size=self.top_border.size position="top" background_color=self.background_color %}
    <div class="container mx-auto px-6 lg:px-0">
        {% if self.heading %}
            <h2 class="text-5xl font-heading font-semibold mb-12 text-center lg:text-6xl {% if self.text_color %}text-{{ self.text_color }}{% endif %}">
                {{ self.heading }}
            </h2>
        {% endif %}
        <div class="grid grid-cols-1 {% if self.columns == '2' %}md:grid-cols-2{% elif self.columns == '4' %}md:grid-cols-4{% else %}md:grid-cols-3{% endif %} gap-12">
            {% for feature in self.features %}
                <div class="rounded-lg hover:shadow-lg transition">
                    <h3 class="text-3xl font-heading font-semibold mb-8 lg:text-4xl {% if self.text_color %}text-{{ self.text_color }}{% endif %}">
                        {% spaceless %}
                            {{ feature.value.title }}
                            <span>
                                {% if feature.value.icon == 'heart' %}
                                    ❤️
                                {% elif feature.value.icon == 'users' %}
                                    👥
                                {% elif feature.value.icon == 'lock' %}
                                    🔒
                                {% elif feature.value.icon == 'bell' %}
                                    🔔
                                {% elif feature.value.icon == 'checkmark' %}
                                    ✓
                                {% elif feature.value.icon == 'star' %}
                                    ⭐
                                {% endif %}
                            </span>
                        {% endspaceless %}
                    </h3>
                    <p class="text-gray-600 font-body {% if self.text_color %}text-{{ self.text_color }}{% endif %}">
                        {{ feature.value.description }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "includes/block_border.html" with border_style=self.bottom_border.style border_color=self.bottom_border.color border_size=self.bottom_border.size position="bottom" background_color=self.background_color %}
</section>
