{% load wagtailcore_tags wagtailimages_tags %}
<section class="grid grid-cols-1 {% if self.columns == '2' %}md:grid-cols-2{% elif self.columns == '4' %}md:grid-cols-4{% else %}md:grid-cols-3{% endif %} gap-8">

    {% include "includes/block_border.html" with border_style=self.top_border.style border_color=self.top_border.color border_size=self.top_border.size position="top" background_color=self.background_color %}
    {% for block in self.items %}
        {% include_block block %}
    {% endfor %}

    {% include "includes/block_border.html" with border_style=self.bottom_border.style border_color=self.bottom_border.color border_size=self.bottom_border.size position="bottom" background_color=self.background_color %}
</section>
