{% load wagtailimages_tags %}
{% if self.image %}
    {% image self.image width-400 as img %}
    {% hero min_height=self.min_height background_color=self.background_color text_color=self.text_color button_text=self.button_text button_link=self.button_link image=img.url heading=self.heading subheading=self.subheading / %}
{% else %}
    {% hero min_height=self.min_height background_color=self.background_color text_color=self.text_color button_text=self.button_text button_link=self.button_link heading=self.heading subheading=self.subheading / %}
{% endif %}
