<section class="text-block py-12 {% if self.background_color %}bg-{{ self.background_color }}{% endif %}">

    {% include "includes/block_border.html" with border_style=self.top_border.style border_color=self.top_border.color border_size=self.top_border.size position="top" background_color=self.background_color %}
    <div class="container mx-auto px-6 lg:px-0"
         style="max-width: {{ self.max_width }}">
        <div class="prose prose-sm md:prose lg:prose-lg max-w-none {% if self.text_color %}text-{{ self.text_color }}{% endif %}">
            {{ self.content|safe }}
        </div>
    </div>

    {% include "includes/block_border.html" with border_style=self.bottom_border.style border_color=self.bottom_border.color border_size=self.bottom_border.size position="bottom" background_color=self.background_color %}
</section>
