{% extends "wagtailadmin/bulk_actions/confirmation/base.html" %}

{% load i18n %}

{% block header %}
  {% include "wagtailadmin/shared/header.html" with title=action_title icon=action_icon %}
{% endblock header %}
{% block items_with_access %}
  {% if items %}
    <p>{{ confirm_message }}</p>
    <ul>
      {% for entry in items %}<li>{{ entry.item }}</li>{% endfor %}
    </ul>
  {% endif %}
{% endblock items_with_access %}
{% block items_with_no_access %}
{% endblock items_with_no_access %}
{% block form_section %}
  {% if items %}
    {% include "wagtailadmin/bulk_actions/confirmation/form.html" %}
  {% else %}
    {% include "wagtailadmin/bulk_actions/confirmation/go_back.html" %}
  {% endif %}
{% endblock form_section %}
