{% extends "base.html" %}

{% load i18n account wagtailroutablepage_tags %}

{% block title %}
    Host a session
{% endblock title %}

{% block body_class %}
    flex flex-col sessions_choosetype
{% endblock body_class %}

{% block content %}
    {% if user.is_authenticated %}
        {% if perms.events.add_groupsession or perms.events.add_groupsession %}
            <div class="flex flex-col flex-grow items-center gap-4 w-full bg-lightAccent overflow">
                <h1 class="py-9 uppercase">{% trans "Host a Session" %}</h1>
                <main class="flex flex-col items-center gap-8 w-full h-full container mx-auto py-9 px-6 lg:px-0">
                    <p class="font-body">{% trans "What type of session do you want to host?" %}</p>
                    <ul class="flex flex-col items-center gap-16 w-full my-auto pb-20 lg:flex-row lg:justify-space-between lg:gap-4">
                        {% if perms.events.add_peersession %}
                            <li class="lg:w-1/2">
                                <a class="link_alt flex flex-col items-center gap-2 text-center"
                                   href="{% routablepageurl page "create_session" session_type="peer" %}">

                                    {% include "includes/icon.html" with icon="handshake" iconclass="icon shake-vertical" width=128 height=128 %}
                                    <span class="pt-5 text-5xl uppercase">{% trans "Peer" %}</span>
                                    <small class="w-1/2 font-body text-base">{% trans "One-to-one workshop with individual support seekers. These won't be scheduled until a support seeker requests a session from you." %}</small>
                                </a>
                            </li>
                        {% endif %}
                        {% if perms.events.add_groupsession %}
                            <li class="lg:w-1/2">
                                <a class="link_alt flex flex-col items-center gap-2 text-center"
                                   href="{% routablepageurl page "create_session" session_type="group" %}">

                                    {% include "includes/icon.html" with icon="multiple-user" iconclass="icon shake-vertical" width=128 height=128 %}
                                    <span class="pt-5 text-5xl uppercase">{% trans "Group" %}</span>
                                    <small class="w-1/2 font-body text-base">{% trans "Group workshop with any number of support seekers. You'll control the number of support seekers that can join and when the workshop is scheduled." %}</small>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </main>
            </div>
        {% endif %}
    {% else %}
        <a href="{% url 'account_login' %}">{% trans "Oops, you're on the wrong page. Log in to continue." %}</a>
    {% endif %}
{% endblock content %}
