{% extends "events/create_base.html" %}

{% load i18n l10n account guardian_tags wagtailcore_tags %}

{% block title %}
    Schedule a session for {{ session_request.session.title }}
{% endblock title %}

{% block form_title %}
    {% blocktrans with ft=session_request.session.title %}Schedule a session for {{ ft }}{% endblocktrans %}
{% endblock form_title %}

{% block form %}
    {% if user.is_authenticated %}
        {% if perms.events.request_session %}
            <dl>
                <div>
                    <dt>{% trans "Peer" %}</dt>
                    <dd><a href="{% url "accounts_user_profile" username=session_request.session.host.username %}">{{ session_request.session.host }}</a></dd>
                </div>

                <div>
                    <dt>{% trans "Schedule" %}</dt>
                    <dd><time datetime="{{ session_request.starts_at|date:"c" }}">{% localize on %}{{ session_request.starts_at|date:"DATETIME_FORMAT" }}{% endlocalize %}</time> - <time datetime="{{ session_request.ends_at|date:"c" }}">{% localize on %}{{ session_request.ends_at|date:"DATETIME_FORMAT" }}{% endlocalize %}</time></dd>
                </div>

                <div>
                    <dt>{% trans "Price" %}</dt>
                    <dd>{{ session_request.session.currency_symbol }}{{ session_request.price }}</dd>
                </div>
            </dl>
            <button type="button" class="auth_button auth_button__sessions block mt-8 mx-auto text-center">
                {% trans "Edit request" %}
            </button>
            <button type="submit" class="auth_button auth_button__sessions block mt-8 mx-auto text-center">
                {% trans "Request session" %}
            </button>
        {% else %}
            <p>
                <a href="{% pageurl session.page %}">{% trans "Oops, you're on the wrong page. Head back to sessions." %}</a>
            </p>
        {% endif %}
    {% else %}
        <p>
            <a href="{% url 'account_login' %}">{% trans "Oops, you're on the wrong page. Log in to continue." %}</a>
        </p>
    {% endif %}
{% endblock form %}
