{% extends "base.html" %}

{% load i18n account %}

{% block content %}
    <div class="w-full h-full bg-lightAccent">
        <header class="flex flex-col justify-start items-center gap-4 container mx-auto py-9 px-6 lg:px-0 lg:flex-row lg:justify-space-between">
            <h1 class="uppercase">{{ page.title }}</h1>
            {% if user.is_authenticated and perms.events.add_peersession or perms.events.add_groupsession %}
                <a href="{{ page.url }}create/"
                   class="auth_button auth_button__sessions block text-center">{% trans "Create your own session" %}</a>
            {% endif %}
        </header>
        <main class="flex flex-col w-full h-full container mx-auto py-9 px-6 lg:px-0">
            <ul class="m-auto">
                {% for session in sessions %}
                    <li>
                        <a href="{{ page.url }}{{ session.pk }}">{{ session.title }}</a>
                    </li>
                {% empty %}
                    <li>No sessions yet.</li>
                {% endfor %}
            </ul>
        </main>
    </div>
{% endblock content %}
