{% extends "base.html" %}

{% load i18n account wagtailcore_tags wagtailroutablepage_tags %}

{% block title %}
    Sessions
{% endblock title %}

{% block body_class %}
    flex flex-col sessions_indexpage
{% endblock body_class %}

{% block content %}
    <div class="flex flex-col flex-grow items-center gap-4 w-full h-full bg-lightAccent">
        <header class="flex flex-col justify-start items-center gap-4 w-full container mx-auto py-9 px-6 lg:px-0 lg:flex-row lg:justify-space-between">
            <h1 class="uppercase">{{ page.title }}</h1>
            {% if user.is_authenticated and perms.events.add_peersession or perms.events.add_groupsession %}
                <a href="{% routablepageurl page "choose_session_type" %}"
                   class="auth_button auth_button__sessions block text-center">{% trans "Host your own session" %}</a>
            {% endif %}
        </header>
        <main class="flex flex-col w-full h-full container mx-auto py-9 px-6 lg:px-0">
            {% if sessions|length > 0 %}
                <section class="flex flex-col gap-4 mx-auto mb-auto w-full lg:w-3/4">
                    {% for session in sessions %}
                        {% if session.starts_at %}
                            {% session_item session=session session_type="group" / %}
                        {% else %}
                            {% session_item session=session session_type="peer" / %}
                        {% endif %}
                    {% endfor %}
                </section>
            {% else %}
                <section class="flex flex-col justify-center items-center h-full">
                    <p class="self-center">No sessions yet.</p>
                </section>
            {% endif %}
        </main>
    </div>
{% endblock content %}
